@media (max-width: 480px) {
    .slider--container {
        display: none;
    }
    .main--home {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .text--container {
        max-width: 100%;
        text-align: left;
        color: #FFFFFF;
    }
    .text--background {
        background-color: #28643C;
        border-radius: 2rem;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .header1 {
        font-size: 2.2rem;
        font-weight: normal;
        margin: 0 0 2rem 0;
    }
    .header2 {
        font-size: 1.5rem;
        color: #50C878;
        font-weight: normal;
        margin: 0 0 2rem 0;
    }
    .paragraph--container {
        width: 100%;
        margin: 0 0 3.125rem 0;
        line-height: 1.75;
        font-size: 1.25rem;
    }
    .buttonLink--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email--input {
        margin: 0 0 1rem 0;
        padding: 1rem 0 1rem 1rem;
        width: 100%;
        font-size: 1rem;
        border-radius: 10rem;
        text-align: left;
        border: none;
    }
    .signup-button {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0;
        padding: 0.7rem;
        width: 100%;
        background-color: #50C878;
        text-decoration: none;
        border-radius: 10rem;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .main--home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
    .slider--container {
        margin: 0 auto;
        z-index: -1;
    }
    .text--container {
        text-align: left;
        color: #FFFFFF;
    }
    .text--background {
        background-color: #28643C;
        width: 52%;
        border-radius: 2rem;
        padding: 2rem;
    }
    .header1 {
        font-size: 2.5rem;
        font-weight: normal;
        margin: 0 0 2rem 0;
    }
    .header2 {
        font-size: 1.5rem;
        color: #50C878;
        font-weight: normal;
        margin: 0 0 2rem 0;
    }
    .paragraph--container {
        margin: 0 0 3.125rem 0;
        line-height: 1.75;
        font-size: 1.25rem;
        width: 100%;
    }
    .buttonLink--container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .email--input {
        width: 50%;
        border-radius: 10rem;
        text-align: left;
        font-size: 0.85rem;
        padding: 0.5rem 0 0.5rem 1rem;
        margin-bottom: 1rem;
        border: none;
    }
    .signup-button {
        width: 50%;
        background-color: #50C878;
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;
        border-radius: 10rem;
        margin: 0;
        padding: 0.5rem 1rem;
        font-size: 0.85rem;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 1085px) {
    .slider--container {
        width: 31.25rem;
        height: 12.5rem;
        margin: 0 auto;
        z-index: -1;
    }
    .main--home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;
    }
    .text--container {
        text-align: left;
        color: #FFFFFF;
    }
    .text--background {
        background-color: #28643C;
        width: 55%;
        border-radius: 2rem;
        padding: 2rem;
        animation: backgroundSlideIn 1s ease-out;
    }
    @keyframes backgroundSlideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
    .header1 {
        font-size: 2.5rem;
        font-weight: normal;
        margin: 0 0 2.5rem 0;
    }
    .header2 {
        font-size: 1.5rem;
        color: #50C878;
        font-weight: normal;
        margin: 0 0 2.5rem 0;
    }
    .paragraph--container {
        margin: 0 0 3.125rem 0;
        line-height: 1.75;
        font-size: 1.25rem;
    }
    .buttonLink--container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .email--input {
        width: 12.5rem;
        border-radius: 10rem;
        text-align: left;
        font-size: 0.85rem;
        padding: 0.5rem 0 0.5rem 0.93rem;
        border: none;
    }
    .signup-button {
        background-color: #50C878;
        color: #28643C;
        text-decoration: none;
        border-radius: 10rem;
        margin: 0 1.86rem 0 0.625rem;
        padding: 0.5rem 1rem;
        font-size: 0.85rem;
        text-align: center;
        align-items: center;
    }
    .signup-button:hover {
        color: white;
        font-weight: bold;
        transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    }
    .learnmore-button:hover {
        color: #50C878;
    }
    .learnmore-button {
        background-color: #F3F2F7;
        color: #414141;
        border: none;
        border-radius: 0.313rem;
        padding: 0.625rem;
        margin: 0 1.875rem 0 0;
        font-size: 1.25rem;
    }
}