.slider--container{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}
.main--home {
    display: flex;
    margin: 5% 0 0 0;
}
.text--container {
    margin: 4% 0 0 2.5%;
    text-align: left;
    color: white;
}

.text--background {
    background-color: #28643C;
    margin: 0 0 0 7%;
    width: 55%;
    border-radius: 22px;
}

.header1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 45px 0;
}

.header2 {
    font-size: 25px;
    color: #50C878;
    font-weight: bold;
    margin: 0 0 45px 0;

}

.paragraph--container {
    margin: 0 0 50px 0;
    line-height: 1.75;
    font-size: 20px;
    width: 600px;
}

.buttonLink--container {
    display: flex;
    align-items: center;

}

.email--input{
    height: 30px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    border: none;
}
.signup-button {
    background-color: #50C878;
    height: 30px;
    color: #414141;
    border: none;
    border-radius: 20px;
    margin: 0 30px 0 10px;
    padding: 0 30px 0 30px;
    font-size: 13px;
    text-align: center;
}



.signup-button:hover {
    color: white;
}

.learnmore-button:hover {
    color: #50C878;
}

.learnmore-button {
    background-color: #F3F2F7;
    color: #414141;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 30px 0 0;
    font-size: 20px;
}