* {
box-sizing: border-box;
}

@media (max-width: 480px) {
    body {
        margin-top: 7rem;
    }
    .navbar {
        display: none;
    }
    .mobile-header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--gray-background);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .site--title {
        font-size: 2rem;
        font-weight: bold;
        color: var(--secondary-green);
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .hamburger-button {
        border: none;
        background: none;
    }
    .close-btn {
        background: none;
        border: none;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        height: 100%;
        width: 100%;
        top: 0;
        right: -150%;
        position: fixed;
        z-index: 1000;
        background-color: var(--gray-background);
        box-shadow: -0.4rem 0 .75rem rgba(0, 0, 0, 0.2);
        overflow-x: hidden;
        padding: 1rem 0 1rem 0;
        /*transition: transform 0.3s ease-in-out;*/
    }
    .sidebar.open {
        right: 0;
        transition: 0.5s ease-in-out;
    }
    .sidebar.closed {
        right: -150%;
        transition: 0.5s ease-in-out;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        margin-top: 3.5rem;
    }
    .sidebar-header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--gray-background);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        z-index: 1001;
    }
    .sidebar-title {
        font-size: 2rem;
        font-weight: bold;
        color: var(--secondary-green);
        text-decoration: none;
        border: none;
    }
    .page-link {
        text-decoration: none;
        color: var(--tertiary-green);
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0 0 1rem 1rem;
    }
    .whitespace {
        flex-grow: 1;
    }
    .bottom-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sidebar-login-btn {
        min-width: 5rem;
        display: flex;
        flex-direction: row;
        background-color: var(--gray-background);
        border: 2px solid var(--primary-green);
        color: var(--primary-green);
        justify-content: center;
        padding: 0.6rem;
        margin: 1rem 1rem 0 1rem;
        border-radius: 10rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .sidebar-free-btn {
        min-width: 5rem;
        display: flex;
        flex-direction: row;
        background-color: var(--primary-green);
        justify-content: center;
        padding: 0.6rem;
        margin: 1rem;
        border-radius: 10rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--white);
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    body {
        margin-top: 7rem;
    }
    .navbar {
        display: none;
    }
    .mobile-header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--gray-background);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .site--title {
        font-size: 3rem;
        font-weight: bold;
        color: var(--secondary-green);
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .hamburger-button {
        border: none;
        background: none;
    }
    .close-btn {
        background: none;
        border: none;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        height: 100%;
        width: 100%;
        top: 0;
        right: -150%;
        position: fixed;
        z-index: 1000;
        background-color: var(--gray-background);
        box-shadow: -0.4rem 0 .75rem rgba(0, 0, 0, 0.2);
        overflow-x: hidden;
        padding: 1rem 0 1rem 0;
        /*transition: 0.5s;*/
    }
    .sidebar.open {
        right: 0;
        transition: 0.5s ease-in-out;
    }
    .sidebar.closed {
        right: -150%;
        transition: 0.5s ease-in-out;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        padding-top: 0.5rem;
    }
    .sidebar-header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--gray-background);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        z-index: 1001;
    }
    .sidebar-title {
        font-size: 3rem;
        font-weight: bold;
        color: var(--secondary-green);
        text-decoration: none;
        border: none;
    }
    .page-link {
        text-decoration: none;
        color: var(--tertiary-green);
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0 0 1rem 1rem;
    }
    .whitespace {
        flex-grow: 1;
    }
    .bottom-buttons {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    .sidebar-login-btn {
        min-width: 5rem;
        width: 50%;
        display: flex;
        flex-direction: row;
        background-color: var(--gray-background);
        border: 2px solid var(--primary-green);
        color: var(--primary-green);
        justify-content: center;
        padding: 0.6rem;
        margin: 1rem;
        border-radius: 10rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .sidebar-free-btn {
        min-width: 5rem;
        width: 50%;
        display: flex;
        flex-direction: row;
        background-color: var(--primary-green);
        justify-content: center;
        padding: 0.6rem;
        margin: 1rem;
        border-radius: 10rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--white);
    }
}

@media (min-width: 1085px) {
    body {
        margin-top: 7rem;
    }
    .mobile-header {
        display: none;
    }
    .navbar {
        background-color: var(--gray-background);
        color: var(--secondary-green);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 0;
        height: 4rem;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    .navbar-scrolled {
        box-shadow: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.2);
    }
    .navbar a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: .25rem;
    }
    .navbar li.active {
        color: var(--secondary-green);
        font-weight: bold;
    }
    .navbar li:hover {
        color: var(--secondary-green);
        font-weight: bold;
    }
    .navbar ul {
        padding: 0;
        margin: 0 2rem 0 0;
        list-style: none;
        display: flex;
        gap: 3rem;
        font-size: 0.9rem;
        color: var(--dark-gray);
    }
    .site--title {
        font-size: 2rem;
        font-weight: bold;
        color: var(--primary-green);
        margin: 0 0 0 2rem;
    }
    .free-link {
        background-color: var(--gray-background);
        border-radius: 10rem;
        transition: background-color 0.2s ease-in-out;
        border: 2px solid var(--primary-green);
    }
    .free-link-text {
        padding: 0.2rem 1rem;
    }
    .free-link:hover {
        background-color: var(--primary-green);
    }
}