@media (max-width: 480px) {
    .pricing {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
    }

    .pricing--container {
        background-color: var(--secondary-green);
        width: 100%;
        padding: 1rem;
        height: 37.5rem;
        border-radius: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pricing--paragraph {
        color: var(--white);
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.75;
        margin: 10% 0;
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .pricing {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
    }

    .pricing--container {
        background-color: var(--secondary-green);
        width: 100%;
        padding: 1rem;
        height: 37.5rem;
        border-radius: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pricing--paragraph {
        color: var(white);
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.75;
        margin: 10% 0;
    }
}

@media (min-width: 1085px) {
    .pricing {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
    }

    .pricing--container {
        background-color:  var(--secondary-green);
        width: 75%;
        padding: 1rem;
        height: 37.5rem;
        border-radius: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideIn 1s ease-out;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .pricing--paragraph {
        color: var(--white);
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.75;
        margin: 10% 0;
    }
}