@media (max-width: 480px) {
    .support {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .support--container {
        background-color: #28643C;
        height: 600px;
        width: 100%;
        padding: 1rem;
        border-radius: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .support--paragraph {
        color: white;
        font-size: 20px;
        width: 750px;
        text-align: center;
        line-height: 1.75;
        margin: 10% 0;
    }
}

@media (min-width: 1085px) {
    .support {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .support--container {
        background-color: #28643C;
        width: 75%;
        height: 600px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideIn 1s ease-out;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .support--paragraph {
        color: white;
        font-size: 20px;
        width: 750px;
        text-align: center;
        line-height: 1.75;
        margin: 10% 0;
    }
}